<div class='row'>
  <% @sides.each do |side| %>
    <h1 class='col-md-6'><%= side.name %></h1>
  <% end %>
</div>

<h3>Armies</h3>
<div class='row'>
  <% @sides.each do |side| %>
    <div class='col-md-6'>
      <div class='content-container'>
        <%= render partial: 'layouts/list', locals: { list: side.armies } %>
      </div>
    </div>
  <% end %>
</div>

<h3>Key Players</h3>
<div class='row'>
  <% @sides.each do |side| %>
    <div class='col-md-6'>
      <div class='content-container'>
        <%= render partial: 'layouts/list', locals: { list: side.players } %>
      </div>
    </div>
  <% end %>
</div>

<h3>Campaigns</h3>
<div class='row'>
  <% @sides.each do |side| %>
    <div class='col-md-6'>
      <div class='content-container'>
        <%= render partial: 'layouts/list', locals: { list: side.campaigns } %>
      </div>
    </div>
  <% end %>
</div>