<div class='row'>
  <table class='table table-striped'>

    <thead>
      <tr>
        <% @sides.each do |side| %>
          <th>
            <h1><%= side.name %></h1>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan='2'><h3>Armies</h3></td>
      </tr>

      <tr>
        <% @sides.each do |side| %>
          <td class='homepage-table'>
            <%= render partial: 'layouts/list', locals: { list: side.armies } %>
          </td>
        <% end %>
      </tr>

      <tr>
        <td colspan='2'>
          <h3>Key Players</h3>
        </td>
      </tr>

      <tr>
        <% @sides.each do |side| %>
          <td class='homepage-table'>
            <%= render partial: 'layouts/list', locals: { list: side.players } %>
          </td>
        <% end %>
      </tr>

      <tr>
        <td colspan='2'>
          <h3>Campaigns</h3>
        </td>
      </tr>

      <tr>
        <% @sides.each do |side| %>
          <td class='homepage-table'>
            <%= render partial: 'layouts/list', locals: { list: side.campaigns } %>
          </td>
        <% end %>
      </tr>
    </tbody>

  </table>
</div>