<%= provide(:title, "Armies") %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th colspan='2'>
        <h1>Armies</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @sides.each do |side| %>
        <td>
          <h3><%= side.name %></h3>
        </td>
      <% end %>
    </tr>

    <tr>
      <% @sides.each do |side| %>
        <td>
          <%= render partial: 'layouts/list', locals: { list: side.armies } %>
        </td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='2' class='center'>
        <%= link_to "Add Army", new_army_path, class: 'btn btn-primary' %>
      </td>
    </tr>
  </tfoot>
</table>