<%= provide(:title, "Armies") %>
<h1>Players</h1>
<div class='col-md-6'>
  <%= render partial: 'layouts/subject_list', locals: { name: 'The Union', list: @union_armies } %>
</div>
<div class='col-md-6'>
  <%= render partial: 'layouts/subject_list', locals: { name: 'The Confederacy', list: @confederate_armies } %>
</div>

