<%= provide(:title, 'Battles') %>

<h1>Battles</h1>

<%= render partial: 'layouts/list', locals: { list: @battles } %>

<div class='row center button-actions'>
  <%= link_to "Add Battle", new_battle_path, class: 'btn btn-primary' %>
</div>