<%= provide(:title, 'Battles') %>

<h1>Battles</h1>

<div class='row list-narrow-wrapper'>
  <div class='list-narrow-header'>
    <h3></h3>
  </div>
  <div class='list-narrow'>
    <%= render partial: 'layouts/list', locals: { list: @battles } %>
  </div>
</div>

<div class='row center button-actions'>
  <%= link_to "Add Battle", new_battle_path, class: 'btn btn-primary' %>
</div>