<h1><%= link_to side.name, side %></h1>
<ul>
  <li>
    <h3>Armies</h3>
    <ul>
      <% side.armies.each do |army| %>
        <li><%= link_to army.name, army %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <h3>People</h3>
    <ul>
      <% side.players.each do |player| %>
        <li><%= link_to player.name, player %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <h3>Campaigns</h3>
    <ul>
      <% side.campaigns.each do |campaign| %>
        <li><%= link_to campaign.name, campaign %></li>
      <% end %>
    </ul>
  </li>
</ul>