<h1><%= link_to side.name, side %></h1>

<%= render partial: 'layouts/subject_list', locals: { name: 'Armies', list: side.armies } %>
<%= render partial: 'layouts/subject_list', locals: { name: 'Players', list: side.players } %>
<%= render partial: 'layouts/subject_list', locals: { name: 'Campaigns', list: side.campaigns } %>
