<h1><%= link_to side.name, side %></h1>

<h3>Armies</h3>
<%= render partial: 'layouts/list', locals: { list: side.armies } %>

<h3>Key Players</h3>
<%= render partial: 'layouts/list', locals: { list: side.players } %>

<h3>Campaigns</h3>
<%= render partial: 'layouts/list', locals: { list: side.campaigns } %>
