<%= provide(:title, "Campaigns") %>
<h1>Campaigns</h1>
<div class='col-md-6'>
  <%= render partial: 'layouts/subject_list', locals: { name: "The Union", list: @union_campaigns } %>
</div>
<div class='col-md-6'>
  <%= render partial: 'layouts/subject_list', locals: { name: "The Confederacy", list: @confederate_campaigns } %>
</div>

