<%= provide(:title, "Campaigns") %>

<h1>Campaigns</h1>
<div class='row'>
  <% @sides.each do |side| %>
    <div class='col-md-6'>
      <h3><%= side.name %></h3>
      <div class='content-container'>
        <%= render partial: 'layouts/list', locals: { list: side.campaigns } %>
      </div>
    </div>
  <% end %>
</div>


<div class='row center button-actions'>
  <%= link_to "Add Campaign", new_campaign_path, class: 'btn btn-primary' %>
</div>
