<%= provide(:title, @campaign.name) %>
<h1><%= @campaign.name %></h1>

<%= render partial: 'layouts/subject_list', locals: { name: "Events", list: @all_events } %>

<%= render partial: 'layouts/map' %>