<%= provide(:title, @campaign.name) %>
<h1><%= @campaign.name %></h1>

<h3>Campaign Events:</h3>
<%= render partial: 'layouts/list', locals: { list: @all_events } %>

<%= render partial: 'layouts/map' %>