@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$border-color: rgb(221,221,221);
$text-color: rgb(85,85,85);
$header-color: rgb(34,34,34);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  width: 90%;
  max-width: 1000px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  background-color: rgb(249, 249, 249);
  color: rgb(51, 51, 51);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin: 8px 0;
  padding: 8px;
  border-top: solid 2px $border-color;
  border-bottom: solid 1px $border-color;
}

h4 {
  margin: 0 0 8px 0;
  border-bottom: 1px solid $border-color;
  padding-bottom: 8px;
}

h5 {
  font-size: 18px;
  line-height: 18px;
}

.inline-event-name {
  font-size: 13px;
  line-height: 13px;
}

.inline-dates {
  font-size: 11px;
  line-height: 11px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header-dropdown-base {
  padding-right: 0 !important;
}

.header-dropdown-caret {
  padding: 15px 15px 15px 5px;
  background-color: transparent;
  color: rgb(119,119,119);
  border: none;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.header-dropdown-menu {
  margin-top: -7px;
}

/* Map */

#map {
  height: 500px;
  width: 100%;
  border: 1px solid $border-color;
  margin-top: -17px;
}

/* Lists */

.list-group {
  margin-bottom: 0;
}

.list-group-item {
  text-align: center
}

.list-group-nested {
  line-height: 12px;
  padding: 0 30px;
  border-radius: 0;
  :first-child {
    border-radius: 0px;
  }
  :last-child {
    margin-bottom: -1px;
    border-radius: 0;
  }
}

.list-narrow-wrapper {
  text-align: center;
}

.list-narrow-header {
  width: 75%;
  margin: 0 auto;
}

.list-narrow {
  width: 50%;
  margin: 0 auto;
}


.content-container {
  padding: 8px;
  text-align: center;
  color: $text-color;
  > .paragraphs {
    text-align: left;
  }
}

.add-new {
  margin-top: 8px;
}

/* Forms */

.name-input {
  height: 60px;
  width: 40%;
  text-align: center;
  font-size: 2em;
  margin: 0 auto 8px auto;
  border-radius: 4px;
}

.side-selection > label {
  font-size: 1.5em;
  margin: 0 8px;
}

.victor-selection > label {
  font-weight: normal !important;
  margin: 0 8px;
}

.side-selection > input {
  position: relative;
  bottom: 3px;
}

.desc-input {
  width: 100%;
  height: 100px;
}

.date-input {
  text-align: center;
  width: 100px;
  height: 32px;
  margin: 0 8px;
  border-radius: 4px;
  display: inline;
}

.location-input {
  text-align: center;
  width: 200px;
  height: 32px;
  margin: 0 8px;
  border-radius: 4px;
  display: inline;
}

.checklist-normal {
  text-align: left;
  > label {
    font-weight: normal !important;
  }
}

/* Miscellaneous */

.button-actions {
  text-align: center;
  margin: 16px 0;
}

.rank-title {
  margin-bottom: 10px;
}