<div class='list-group'>
  <% list.each do |event| %>

    <%= link_to event.name, event, class:'list-group-item' %>

    <% if event.is_a? Campaign %>
      <div class='list-group list-group-nested'>
        <% event.all_events.each do |e| %>
          <%= link_to e.name, e, class:'list-group-item' %>
        <% end %>
      </div>
    <% end %>

  <% end %>
</div>