<ul>
  <% list.each do |event| %>

    <li>
      <%= link_to event.name, event %>
      <% if event.is_a? Campaign %>
        <ul>
          <% event.all_events.each do |e| %>
            <li>
              <%= link_to e.name, e %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>

  <% end %>
</ul>